/*
CSS
*/

body{
    margin:5px;
    padding: 2em;
}
.iframe{
    width: 70%;
    height:600px;
}
@media screen and (max-width:720px) {
    .iframe{
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    body{
        width: 150%;
        padding: 0 0 0 0;
    }
    
}

@media screen and (max-width:350px) {
    body{
        width: 180%;
        padding: 0 0 0 0;
    }
}